* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.frame {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: coral;
    color: lightgoldenrodyellow;
    z-index: 3;
    transition: .5s;
}

    .frame.active {
        width: 80%;
        padding: 100px;
        transition: .5s;
    }

    .frame header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 50px 100px;
        z-index: 69;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.logo {
    position: relative;
    background-image: url("saltycslogo.png");
    height: 150px;
    width: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}

.name {
    font-size: 50px;
    display: flex;
    align-items: center;
}
/*menu button*/
.menu {
    position: relative;
    height: 100px;
    width: 100px;
    background-image: url("menuicon.png");
    background-repeat: no-repeat;
    background-size: 115px;
    background-position: center;
    cursor: crosshair;
}

    .menu.active {
        background-image: url("menuiconclose.png");
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: center;
    }
/*end menu button*/

/*background video*/
.frame video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .75;
}

.info {
    position: relative;
    z-index: 4;
}

    .info h2 {
        font-size: 35px;
    }

    .info h3 {
        font-size: 25px;
    }

    .info p {
        font-size: 20px;
        max-width: 810px;
    }

    .info a {
        display: inline-block;
        font-size: 25px;
        background-color: rgba(255, 128, 80, .3);
        color: #fafa8d;
        padding: 5px 15px;
        text-decoration: none;
        margin-top: 15px;
        margin-right: 5px;
        margin-left: 5px;
        transition: .3s;
    }

        .info a:hover {
            display: inline-block;
            font-size: 30px;
            background-color: rgba(255, 128, 80, .3);
            color: #fafa8d;
            padding: 5px 15px;
            text-decoration: none;
            margin-top: 15px;
            margin-right: 5px;
            margin-left: 5px;
        }
.watersports{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.watersports h1{
    font-size:40px;
}
.watersports p{
    font-size:30px;
    max-width:750px;
}
.fh {
    position: relative;
    z-index: 5;
}

    .fh a {
        display: inline-block;
        font-size: 50px;
        background-color: rgba(255, 128, 80, .5);
        color: #fafa8d;
        padding: 5px 15px;
        text-decoration: none;
        margin-top: 15px;
        margin-right: 5px;
        margin-left: 5px;
        transition: .3s;
        width: 70%;
    }

        .fh a:hover {
            display: inline-block;
            font-size: 60px;
            background-color: rgba(255, 128, 80, .5);
            color: #fafa8d;
            padding: 50px 15px;
            text-decoration: none;
            margin-top: 15px;
            margin-right: 5px;
            margin-left: 5px;
        }
.abvwater {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .abvwater h1 {
        font-size: 35px;
    }

    .abvwater section {
        display: flex;
        font-size: 30px;
    }

    .abvwater div {
        width: 500px;
        flex: 0 0 50%;
    }
/*beinging of footer*/
.links {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255,125,85,.2);
}
.fname{
    font-size: 30px;
    display:flex;
    align-items:center;
}


.links h1 {
    flex: 0 0 33%;
}

.links li {
    list-style: none;
    font-size: 20px;
    flex: 0 0 33%;
}
.links a {
    text-decoration: none;
    color: coral;
    transition: .4s;
}

.links ul li a:hover {
    color: #fafa8d;
}
/*end of footer*/

/*side menu start*/
.slider {
    position: absolute;
    background-color: coral;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider ul {
    position: relative;
    list-style: none;
    }

.slider ul li a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    }

.slider ul li a:hover {
    color: #fafa8d;
    }
/*side menu end*/
    

@media(max-width:600px) {
    .frame,
    .frame header {
        padding: 30px;
    }
}
